.my-account-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 50px auto 80px;
    height: calc(100vh - 433px);
    .sidebar li.active {
        font-weight: 500;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }
    .edit-form {
        width: 80%;
        input {
            border: 1px solid $text-color-light;
            padding: 16px 10px;
            border-radius: 5px;
            width: 100%;
            font-size: 16px;
            margin-bottom: 30px;
            outline: none !important;
        }
        .submit-button {
            background: $text-color;
            color: $white;
            border-radius: 5px;
            padding: 12px 50px;
            &:hover {
                background: lighten($text-color, 20%);
            }
        }
    }
}