/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  header.with-background .top-nav,
  header .top-nav {
    display: block !important;
  }

  header.with-background .top-nav .logo,
  header .top-nav .logo {
    margin: auto;
    text-align: center;
  }

  header.with-background .top-nav ul,
  header .top-nav ul {
    display: block !important;
    text-align: center;
    width: 100%;
    padding: 0 !important;
  }

  header.with-background .top-nav li,
  header .top-nav li {
    margin: 0 !important;
  }

  header.with-background .top-nav .top-nav-left,
  header .top-nav .top-nav-left {
    display: block !important;
  }

  header.with-background .top-nav .top-nav-right,
  header .top-nav .top-nav-right {
    display: block !important;
  }

  header.with-background .hero,
  header .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }

  header.with-background .hero .hero-image,
  header .hero .hero-image {
    padding-left: 0;
    margin-top: 40px;
  }

  .featured-section {
    padding: 50px 0;
  }

  .featured-section .products {
    grid-template-columns: 1fr;
  }

  .blog-section .blog-posts {
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-areas: "blog3" "blog2" "blog1";
  }

  .blog-section .blog-posts .blog-post {
    margin-top: 30px;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-content .made-with {
    margin: auto;
  }

  .footer-content ul {
    margin: 20px auto;
    width: 60%;
  }

  .breadcrumbs {
    text-align: center;
  }

  .breadcrumbs .breadcrumbs-container {
    flex-direction: column;
  }

  .searchbars-container {
    display: block;
  }

  .searchbars-container .search-form {
    margin: 14px auto;
    width: 80%;
  }

  .products-section {
    grid-template-columns: 1fr;
  }

  .products-section .products-header {
    padding: 18px 5%;
  }

  .products-section .products-header .stylish-heading {
    font-size: 18px;
  }

  .products-section .sidebar {
    text-align: center;
  }

  .products-section .products {
    grid-template-columns: 1fr;
  }

  .product-section {
    grid-template-columns: 1fr;
  }

  .product-section .product-image-gallery,
  .product-section .product-section-information {
    padding: 20px 40px;
  }

  .might-like-section .might-like-grid {
    grid-template-columns: 1fr;
  }

  .cart-section {
    grid-template-columns: 1fr;
  }

  .cart-section .cart-buttons {
    flex-direction: column;
    text-align: center;
  }

  .cart-section .cart-table-row .cart-table-row-left {
    width: 30%;
  }

  .cart-section .cart-table-row .cart-table-row-right {
    width: 55%;
  }

  .cart-section .cart-table-row img {
    display: none;
  }

  .cart-section .have-code-container {
    width: 100%;
  }

  .cart-section .cart-totals {
    flex-direction: column;
  }

  .cart-section .cart-totals .cart-totals-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .cart-section .cart-totals .cart-totals-right {
    width: 100%;
  }

  .checkout-section {
    grid-template-columns: 1fr;
  }

  .checkout-section .checkout-table-container {
    margin-left: 10px;
  }

  .auth-pages {
    margin: 50px auto;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    height: auto;
  }

  .auth-left {
    padding: 20px !important;
  }

  .auth-right {
    border-top: 1px solid #CDCDCD;
    border-left: 0 !important;
    padding: 20px !important;
  }
}

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  .products-header .stylish-heading {
    font-size: 15px !important;
  }

  .products-header .price-sort-options {
    font-size: 13px;
  }
}

/* Custom, iPhone Retina */

